_target_: pytorch_lightning.Trainer
default_root_dir: ${paths.output_dir}
min_epochs: 1
max_epochs: 15
accelerator: gpu
devices: [1,2,3,5] # 8 卡
strategy: ddp # 多卡时改为 ddp
precision: bf16-mixed # 混合精度
gradient_clip_val: 1.0
log_every_n_steps: 50
check_val_every_n_epoch: 1
num_sanity_val_steps: 2

# 限制 validation batches，避免 DDP 超时
# IterableDataset 在 DDP 下各 rank 的 batch 数量可能不一致
limit_val_batches: 1000